name: Build HellFire Win64

on:
  workflow_dispatch:
  push:
    branches:
      - feat/add-build-action # TODO

jobs:
  build-hellfire:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Cache Firefox source and HellFire build
        uses: actions/cache@v4
        with:
          key: hellfire-build
          path: ~/mozilla-source

      - name: Install scoop
        shell: pwsh
        run: |
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

      - name: Install MozillaBuild and prerequisites
        shell: pwsh
        run: |
          ~/scoop/shims/scoop install rustup
          rustup default stable-x86_64-pc-windows-msvc

          choco install -y --no-progress mozillabuild
          # choco install -y --no-progress visualstudio2022buildtools
          # choco install -y --no-progress visualstudio2022-workload-vctools

      - name: Clone Firefox source
        shell: bash
        run: |
          mkdir -p ~/mozilla-source
          cd ~/mozilla-source

          if ! git clone --depth 1 "https://github.com/mozilla-firefox/firefox.git" "firefox" 2>/dev/null && [ -d "firefox" ] ; then
              echo "Clone failed because the folder firefox exists"
          fi
          cd firefox
          # Optional: checkout a specific revision or branch
          git checkout main
          git pull

      - name: Copy custom mozconfig
        shell: pwsh
        run: |
          cd ~/mozilla-source/firefox
          cp $env:GITHUB_WORKSPACE/MozConfigs/Win64/mozconfig .mozconfig

      # - name: Bootstrap toolchain
      #   shell: bash
      #   run: |
      #     cd ~/mozilla-source/firefox
      #     ./mach bootstrap --application-choice "Firefox for Desktop Artifact Mode"

      - name: Build HellFire
        shell: pwsh
        env:
          MOZILLABUILD: 'C:/mozilla-build'
          MACH_PS1_USE_MOZILLABUILD: 'true'
        run: |
          cd ~/mozilla-source/firefox
          ./mach.cmd build

      - name: Package HellFire
        shell: pwsh
        run: |
          cd ~/mozilla-source/firefox
          mv objdir-opt/dist/bin objdir-opt/dist/hellfire

          $VERSION = (Select-String -Path ./objdir-opt/dist/hellfire/application.ini -Pattern "^Version=(.*)$")[0].Matches.Groups[1].Value
          $LANG = cat ./objdir-opt/dist/hellfire/default.locale
          $NAME = "hellfire-${VERSION}.${LANG}.windows.x86-64.7z"
          7z a $NAME ./objdir-opt/dist/hellfire

      - name: Release artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: firefox-win64-build
          path: |
            ~/mozilla-source/firefox/hellfire-*.windows.x86-64.7z
