name: Build HellFire Win64

on:
  workflow_dispatch:
  push:
    branches:
      - feat/add-build-action # TODO

jobs:
  build-hellfire:
    runs-on: windows-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install scoop
        shell: pwsh
        run: |
          Invoke-RestMethod -Uri https://get.scoop.sh | Invoke-Expression

      - name: Install MozillaBuild and prerequisites
        shell: pwsh
        run: |
          ~\scoop\shims\scoop.exe install rustup
          rustup default stable-x86_64-pc-windows-msvc

          choco install -y --no-progress mozillabuild
          # choco install -y --no-progress visualstudio2022buildtools
          # choco install -y --no-progress visualstudio2022-workload-vctools

      - name: Clone Firefox source
        shell: pwsh
        run: |
          mkdir -p $HOME/mozilla-source
          cd $HOME/mozilla-source
          git clone --depth 1 https://github.com/mozilla-firefox/firefox.git
          cd firefox
          # Optional: checkout a specific revision or branch
          # git checkout <your-revision>

      - name: Copy custom mozconfig
        shell: pwsh
        run: |
          cd $HOME/mozilla-source/firefox
          cp $env:GITHUB_WORKSPACE/HellFire-Windows/MozConfigs/Win64/mozconfig .mozconfig

      # - name: Bootstrap toolchain
      #   shell: bash
      #   run: |
      #     cd $HOME/mozilla-source/firefox
      #     ./mach bootstrap --application-choice "Firefox for Desktop Artifact Mode"

      - name: Build HellFire
        shell: pwsh
        env:
          MOZILLABUILD: 'C:/mozilla-build'
          MACH_PS1_USE_MOZILLABUILD: 'true'
        run: |
          cd $HOME/mozilla-source/firefox
          ./mach.ps1 build

      - name: Package HellFire
        shell: pwsh
        run: |
          cd $HOME/mozilla-source/firefox
          mv objdir-opt/dist/bin objdir-opt/dist/hellfire

          $VERSION = (Select-String -Path .\application.ini -Pattern "^Version=(.*)$")[0].Matches.Groups[1].Value
          $LANG = cat .\default.locale
          $NAME = "hellfire-${VERSION}.${LANG}.windows.x86-64.7z"
          7z a $NAME ./objdir-opt/dist/hellfire

      - name: Release artifact
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: firefox-win64-build
          path: |
            $HOME/mozilla-source/firefox/hellfire-*.windows.x86-64.7z
